@model LearnCourse.Models.ViewModels.CreateLevelViewModelsIndex

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Level.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.TeacherId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.Description)
            </th>
            @if (Model.UserRole.ToString() == "Admin")
            {
                <th>
                    @Html.DisplayNameFor(model => model.Level.CreationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level.UpdateDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level.Icon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level.Picture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level.Status)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Levels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (Model.UserRole.ToString() == "Admin")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Icon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
