@model LearnCourse.Models.ViewModels.GeneralContent

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GeneralContent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDateTime)
        </dd>
 @*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            <img src="/images/@Model.Picture" width="200" height="200">
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class = "col-sm-10">
            <video width="320" height="240" controls>
                <source src="/images/@Model.Video" type="video/mp4">
                <source src="/images/@Model.Video" type="video/ogg">
            </video>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesson.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
